{
    "datacenter": "{{datacenter}}",
    "data_dir": "/var/consul",
    "log_level": "INFO",
    "node_name": "{{inventory_hostname}}",
    "server": false,
    "encrypt": "{{consul_key}}",
    "enable_script_checks": true,
    "disable_update_check": true,
    "addresses": {
      "dns": "127.0.0.1",
      "https": "0.0.0.0",
      "grpc": "127.0.0.1",
      "http": "0.0.0.0"
    },
    "bind_addr": "{{ansible_default_ipv4.address}}",
    "retry_join": [{% for host in groups['servers'] %}
"{{ hostvars[host]['ansible_default_ipv4']['address'] }}" {% if not loop.last %},{% endif%}
    {% endfor %}]
}